* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul, ol, li {
  list-style: none;
}

input, textarea {
  background: none;
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.text-1 {
  font-size: 16px;
  font-weight: 400;
}

.text-2, .text-3, .text-4 {
  font-weight: 500;
}

.text-2 {
  font-size: 18px;
}

.text-3 {
  font-size: 24px;
}

.text-4 {
  font-size: 32px;
}

.title-1 {
  font-size: 96px;
}

.title-2 {
  font-size: 64px;
}

.title-3 {
  font-size: 32px;
}

.title-4 {
  font-size: 24px;
}

.mt-1 {
  margin-top: 120px;
}

.mt-2 {
  margin-top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  box-shadow: 0 0 20px #000;
  padding: 20px 0;
  flex: 0 0 auto;
}

.container {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  padding: 39px 0;
  box-shadow: 0 0 20px #000;
  margin-top: 120px;
}

.centring {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* NAVBAR */

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-link {
  font-size: 24px;
  font-weight: 700;
}

.form-search input {
  width: 500px;
  padding: 17px 24px;
  border-radius: 12px;
  border: 1px solid #000;
  color: #000;
}

.basket {
  max-width: 48px;
  width: 100%;
  position: relative;
}
.basket img {
  width: 100%;
  height: auto;
}
.basket .indicator-buy {
  position: absolute;
  width: 20px;
  height: 20px;
  display: none;
  background: #DF3434;
  border-radius: 50%;
  top: -5px;
  right: -10px;
  color: #fff;
}
.basket .indicator-buy--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-link .no-profile {
  display: none;
}
.profile-link .yes-profile {
  display: none;
}
.profile-link .yes-profile--active {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.profile-link .no-profile--active {
  padding: 18px 20px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
}

/* FOOTER */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* PRODUCTS */

.card-product {
  max-width: 909px;
  width: 100%;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 0 20px #000;
  display: flex;
  background: #D9D9D9;
}

.media img {
  height: 100%;
}

.text-card {
  padding: 35px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.description {
  max-width: 345px;
  width: 100%;
}

.price {
  font-size: 24px;
}

.number-price {
  font-weight: bold;
}

.sale-price {
  color: #8e8e8e;
  text-decoration: line-through;
  font-size: 16px;
  margin-left: 5px;
}

/* HOME */

.banner {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.anchor {
  padding: 12px 32px;
  background: #D9D9D9;
  display: inline-flex;
  gap: 5px;
}

.opportunities {
  text-align: center;
}

.opportunity-group {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.opportunity-group .media img {
  display: block;
  margin: 0 auto;
}

.text-opportunity, .description-opportunity {
  margin-top: 10px;
}

.parameter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.parameter:nth-child(even) {
  flex-direction: row;
}

.types-delivery h2 {
  text-align: center;
}

.type-delivery {
  display: flex;
  align-items: center;
  gap: 90px;
}

.type-delivery:nth-child(even) {
  flex-direction: row-reverse;
}

.type-delivery-text p {
  margin-top: 20px;
}


