.profileWrapper {
    margin-top: 180px;
}

.topProfile {
    display: flex;
    justify-content: space-between;
}

.leftTopProfile {
    display: flex;
    gap: 34px;
}

.leftTopProfile .media {
    max-width: 180px;
    width: 100%;
}

.leftTopProfile .media img {
    width: 100%;
}

.statusProfile span, .contactItem span {
    font-weight: bold;
}

.exitProfile {
    font-weight: bold;
    color: #EA1010;
    cursor: pointer;
}

.contactItem:not(:first-child) {
    margin-top: 12px;
}

.elOrder {
    display: none;
}

.elOrderActive {
    display: block;
}

.elOrder h2 {
    text-align: center;
}

.cardGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkCreateProduct {
    display: block;
    padding: 86px 0;
    max-width: 909px;
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #3c58bd;
    border-radius: 15px;
    transition: 0.2s;
}

.linkCreateProduct:hover {
    box-shadow: 0 0 20px #3c58bd;
    transform: scale(1.05);
    transition: 0.2s;
}

.linkCreateProduct:active {
    background: #3c58bd;
    color: #ffffff;
}