.basketFlex {
    display: flex;
    gap: 90px;
}

.clearButton {
    position: relative;
    right: 0;
}

.basketBody {
    max-width: 900px;
    width: 100%;
}

.leftBasket {
    margin-top: 40px;
}

.finalPrice span {
    font-weight: bold;
}

.linkPay {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 32px;
    font-weight: bold;
    background-color: #3c58bd;
    color: #ffffff;
    transition: 0.2s;
}

.linkPay:hover {
    background: #2F3485;
    transition: 0.2s;
}