.cardProduct {
    max-width: 909px;
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 0 0 20px #3c58bd;
    display: flex;
    background: #f0f0f0;
    border: 2px solid #3c58bd;
}

.media {
    border-right: 2px solid #3c58bd;
    max-width: 300px;
    width: 100%;
}

.media img {
    width: 100%;
    height: 100%;
}

.textCard {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.description {
    max-width: 270px;
    width: 100%;
}

.priceBlock {
    width: 185px;
}

.price {
    font-size: 24px;
}

.numberPrice {
    font-weight: bold;
}

.salePrice {
    color: #8e8e8e;
    text-decoration: line-through;
    font-size: 16px;
    margin-left: 5px;
}

.priceBlock button, a {
    margin-top: 10px;
}

.linkEdit {
    padding: 12px 32px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #3c58bd;
    color: #ffffff;
    transition: 0.2s;
    display: inline-block;
}

.linkEdit:hover {
    background: #2F3485;
    transition: 0.2s;
}