.makingWrapper {
    display: block;
}

.formBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
}
label {
    display: block;
}

.paymentUponReceipt {
    display: flex;
    gap: 10px;
}

.makingBody {
    display: flex;
    gap: 30px;
}

